.text-presentation-left {
  position: absolute;
  top: 100%;

  @media screen and (min-width: 1200px) {
    left: -25%;
  }
  @media screen and (max-width: 1200px) and (min-width: 600px) {
    left: 25%;
  }
  @media screen and (max-width: 600px) {
    left: 50%;
  }


  width: 100%;
  height: 25%;

  z-index: 1;
  display: flex;

  .letter1 {
    animation: letter-from-top 2s linear 0s 1 both;
   }
  .letter2 {
    animation: letter-from-top 2s linear 1s 1 both;
  }
  .letter3 {
    animation: letter-from-top 2s linear 2s 1 both;
  }
}