* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@media screen and (max-width: 3000px) and (min-width: 1500px){
  @keyframes up-and-down {
    0% {top: 0%}
    40% {top: 0%}
    60% {top: 12.6vw }
    100% {top: 12.6vw}
  }
  @keyframes left-and-right {
    0% {left: 0%}
    40% {left: 0%}
    60% {left: 12.6vw }
    100% {left: 12.6vw}
  }
}
@media screen and (max-width: 1500px) and (min-width: 1200px){
  @keyframes up-and-down {
    0% {top: 0%}
    40% {top: 0%}
    60% {top: 12.65vw }
    100% {top: 12.65vw}
  }
  @keyframes left-and-right {
    0% {left: 0%}
    40% {left: 0%}
    60% {left: 12.65vw }
    100% {left: 12.65vw}
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px){
  @keyframes up-and-down {
    0% {top: 0%}
    40% {top: 0%}
    60% {top: 12.7vw }
    100% {top: 12.7vw}
  }
  @keyframes left-and-right {
    0% {left: 0%}
    40% {left: 0%}
    60% {left: 12.7vw }
    100% {left: 12.7vw}
  }
}
@media screen and (max-width: 1000px) and (min-width: 400px){
  @keyframes up-and-down {
    0% {top: 0%}
    40% {top: 0%}
    60% {top: 16.9vw }
    100% {top: 16.9vw}
  }
  @keyframes left-and-right {
    0% {left: 0%}
    40% {left: 0%}
    60% {left: 16.9vw }
    100% {left: 16.9vw}
  }
}
@media screen and (max-width: 400px){
  @keyframes up-and-down {
    0% {top: 0%}
    40% {top: 0%}
    60% {top: 17.1vw }
    100% {top: 17.1vw}
  }
  @keyframes left-and-right {
    0% {left: 0%}
    40% {left: 0%}
    60% {left: 17.1vw }
    100% {left: 17.1vw}
  }
}

.animation-up-and-down {
  animation: up-and-down 10s linear infinite alternate both;
}
.animation-left-and-right {
  animation: left-and-right 10s linear infinite alternate both;
}

@media screen and (min-width: 900px){
  .Welcome {
    top: -50vw;
    left: -50vw;
  
    width: 200vw;
    height: 200vw;
  }
}

@media screen and (max-width: 900px){
  .Welcome {
    top: -50vh;
    left: -50vh;
  
    width: 200vh;
    height: 200vh;
  }
}

.Welcome {
  position: fixed;

  background-color: black;
  transform: scale(1) rotateZ(45deg);
}

.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.line {
  position: relative;
  top: 0;
  left: 0;
}
.line-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.bg-col {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
}
.col {
  position: relative;
  top: 0;
  left: 0;
}
.col-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.cube {
  position: relative;
  top: 0%;
  left: 0%;
  border: 1px solid white;
}