* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

$cubeSize: 10%;

$secondary: rgba(187, 50, 50, 0.8);
$black: rgba(15, 15, 15, 0.9);
$white: rgb(248, 248, 248, 0.9);

@import './animations.scss';
@import '../pages/Home.scss';

@media screen and (min-width: 600px) {
  .NetworksBar {
    width: 50px;
  }
  .box-left-overlay {
    width: 50px;
  }
  .NavBar {
    height: 50px;
    .bar {
      margin-left: 20%;
    }
  }
  .MiddlePresentation {
    top:1%;
  }
}
@media screen and (max-width: 600px) {
  .NavBar {
    height: 40px;
    .bar {
      margin-left: 0;
    }
    .NavTitle {
      width: 100%;
    }
  }

  .NetworksBar {
    width: 25px;  
  }

  .box-left-overlay {
    width: 25px;
  }

  .MiddlePresentation {
    top:2.5%;
  }
}



