* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

$cubeSize: 10%;

@import '../components/Background/index.scss';


@keyframes up-and-down {
  0% {top: 0%}
  40% {top: 0%}
  60% {top: $cubeSize}
  100% {top: $cubeSize}
}
.animation-up-and-down {
  animation: up-and-down 10s linear infinite alternate both;
}


@keyframes left-and-right {
  0% {left: 0%}
  40% {left: 0%}
  60% {left: $cubeSize}
  100% {left: $cubeSize}
}
.animation-left-and-right {
  animation: left-and-right 10s linear infinite alternate both;
}

@keyframes display-cube-color {
  0% {opacity: 0}
  25% {opacity: 0}
  50% {opacity: 1}
  75% {opacity: 0}
  100% {opacity: 0}
}
.animation-display-cube-color {
  animation: display-cube-color 10s linear infinite alternate both;
}


@keyframes fold-3 {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {
    opacity: 0;
    transform: rotate3d(0, -1, 0, -180deg);
  }
}
.animation-fold-3 {
  animation: fold-3 1s linear 0s 1 both;
}


@keyframes fold-4 {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {
    opacity: 0;
    transform: rotate3d(-1, 0, 0, -180deg);}
}
.animation-fold-4 {
  animation: fold-4 1s linear 0.5s 1 both;
}


@keyframes fold-2 {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {
    opacity: 0;
    transform: rotate3d(0, -1, 0, -180deg);}
}
.animation-fold-2 {
  animation: fold-2 1s linear 1s 1 both;
}
 
@keyframes fold-1 {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {
    opacity: 0;
    transform: translate3d(0%, 50%, 0) scale(0);}
}
.animation-fold-1 {
  animation: fold-1 1s linear 1.5s 1 both;
}


@keyframes swap-opacity {
  0% {opacity: 0;}
  100% {opacity:1;}
}
.animation-opacity {
  animation: swap-opacity 5s linear 0s 1 both;
}
.animation-opacity-reverse {
  animation: swap-opacity 5s linear 0s 1 reverse both;
}

.animation-opacity-1 {
  animation: swap-opacity 2s linear 2s 1 both;
}
.animation-opacity-2 {
  animation: swap-opacity 2s linear 2.5s 1 both;
}
.animation-opacity-3 {
  animation: swap-opacity 2s linear 3s 1 both;
}
.animation-opacity-4 {
  animation: swap-opacity 2s linear 3.5s 1 both;
}


@keyframes flower-t1 {
  0% {}
  100%{transform: rotate3d(0, -1, 0, -180deg);}
}
.animation-flower-t1 {
  animation: flower-t1 2s linear 0s 1 both;
}

@keyframes flower-t2 {
  0% {}
  100%{transform: rotate3d(1, -1, 0, 180deg);}
}
.animation-flower-t2 {
  animation: flower-t2 2s linear 0s 1 both;
}

@keyframes flower-t3 {
  0% {}
  100%{transform: rotate3d(-1, 0, 0, 180deg);}
}
.animation-flower-t3 {
  animation: flower-t3 2s linear 0s 1 both;
}

@keyframes flower-t4 {
  0% {}
  100%{transform: rotate3d(-1, -1, 0, 180deg);}
}
.animation-flower-t4 {
  animation: flower-t4 2s linear 0s 1 both;
}


@keyframes letter-from-bottom {
  0% {
    opacity: 0;
    right: -100%;
  }
  70% {opacity: 1;}
  100% {right: 0;}
}

@keyframes letter-from-top {
  0% {
    opacity: 0;
    left: -100%;
  }
  70% {opacity: 1;}
  100% {left: 0;}
}

@keyframes stop-animation {
  0% {opacity: 1;}
  100% {
    opacity: 0;
    transform: scale(2);
    display: none;
  }
}
.stop-animation {
  animation: stop-animation 2s linear 0s 1 both;
}

.Home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 

  height: 100vh;
  width: 100vw;

}

.Content {
  position: relative;

  width: 100%;
  height: 100%;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(187, 50, 50, 0.8);
}

.infos {
  position: relative;

  width: 80%;
  height: 70%;

  background-color: black;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media screen and (min-width: 500px) {
    .NetworksBar {
      width: 50px;
    }
    .box-left-overlay {
      width: 50px;
    }
    .NavBar {
      height: 50px;
    }
  }
  @media screen and (max-width: 500px) {
    .NavBar {
      height: 40px;
      .bar { margin: 0;}
    }
    .NetworksBar {
      width: 25px;  
    }
    .box-left-overlay {
      width: 25px;
    }
  }

  .box-left-overlay {
    position: absolute;
    top: 13%;
    left: 5%;

    height: 80%;

    .bar {
      height: 100%;
      width: 2px;

      background-color: black;
    }

    .MailBar {
      position: absolute;
      bottom: 0%;
      left: 50%;

      height: 10%;
      width: 80vw;

      display: flex;
      align-items: flex-end;

      .bar {
        height: 2px;
        flex: 2;

        margin-bottom: 1%;
        margin-left: 20px;
        margin-right: 35%;

        background-color: black;
      }
    }
  }

  .NavBar {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .bar {
      height: 2px;
      flex: 2;

      margin-bottom: 1%;
      margin-left: 20%;
      margin-right: 10px;

      background-color: black;
    }

    .NavTitle {
      h1 {
        height: 100%;

        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;

        .firstname {
          color: black;
        }
        .lastname {
          color: white;
        }
      }
    }

    .NavLinks {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;

      h2 {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .NetworksBar {
    position: absolute;
    top: 13%;
    right: 5%;

    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      width: 100px;
      transform: rotateZ(90deg) translateX(-30%) translateY(-275%);
    }
    .bar {
      height: 100%;
      width: 2px;
      margin-bottom: 90px;

      background-color: black;
    }
    .bar2 {
      height: 10%;
      width: 2px;
      margin-bottom: 90px;

      background-color: black;
    }
    .networks {
      position: absolute;
      bottom: 1%;
      left: 50%;

      width: 100%;
      height: 10%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

    }
    .network {
      width: 100%;
      height: 50%;

      border: 1px solid black;
    }
  }

}

