.middle-cube-top {
  height: 49%;
  width: 49%;

  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1700px) {
    font-size: 220px;
  }
  @media screen and (min-width: 1300px) and (max-width: 1700px) {
    font-size: 170px;
  }
  @media screen and (min-width: 950px) and (max-width: 1300px) {
    font-size: 140px;
  }
  @media screen and (min-width: 700px) and (max-width: 950px) {
    font-size: 120px;
  }
  @media screen and (max-width: 700px) {
    font-size: 100px;
  }
  
}

.c3-top {
  transform-origin: right center;
  background-color: black;
  color: white;
}
.c4-top {
  transform-origin: top center;
  background-color: white;
}
.c2-top {
  transform-origin: left center;
  background-color: black;
  color: white;
}
.c1-top {
  transform-origin: top center;
  background-color: white;
  
}