.button-enter-ws {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 40%;

  width: 20%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $secondary;
  border-radius: 50%;
  animation: swap-opacity 5s linear 0s 1 both;
  transition: transform 1s linear;

  &:hover {
    transform: scale(1.1);
  }

  span {
    color: black;
    font-size: 30px;
    transform: rotateZ(-45deg);
  }
}