.button-enter-ws {
  position: absolute;
  top: 45%;
  left: 45%;

  width: 10%;
  height: 10%;

  z-index: 1;

  background-color: yellow;
  border-radius: 50%;
  animation: swap-opacity 8s linear 0s 1 both;
  transition: transform 1s linear;

  &:hover {
    transform: scale(1.1);
  }
}