@import '../Career/index.scss';
@import '../AboutMe/index.scss';
@import '../Works/index.scss';

.MiddlePresentation {
  position: relative;

  width: 80%;
  height: 80vh;

  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 601px) {
    top: 1%;
  }
  @media screen and (max-width: 600px) {
    padding-top: 40px;
    height: 70vh;
  }
  
}